body {
  font-family: tahoma;
  color: #282828;
  margin: 0px;
}

.key {
  font-weight: bold;
}

.nav-bar {
  background: linear-gradient(-90deg, #84cf6a, #16c0b0);
  height: 60px;
  margin-bottom: 15px;
}

.product {
  display: flex;
  flex-flow: wrap;
  padding: 1rem;
}

img {
  border: 1px solid #d8d8d8;
  width: 70%;
  margin: 40px;
  box-shadow: 0px 0.5px 1px #d8d8d8;
}

.product-image {
  width: 80%;
}

.product-image,
.product-info {
  margin-top: 10px;
  width: 50%;
}

.no-stock {
  text-decoration: line-through;
}

.sale-message {
  color: #21864d;
  font-weight: bold;
}

.tab {
  margin-left: 20px;
  cursor: pointer;
}

.activeTab {
  color: #16c0b0;
  text-decoration: underline;
}

.top-tabs {
  margin: 1em 0;
  padding: 0;
  min-height: 8em;
}

.top-tabs .tab {
  margin-left: 0;
  margin-right: 1em;
}

.top-tabs ul {
  padding-left: 0;
  list-style-position: inside;
}

.top-tabs p {
  padding-top: 1em;
}

.top-tabs p.premium-message {
  font-style: italic;
}

.options {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.options div {
  margin-right: 3em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.options div ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

.color-box {
  width: 40px;
  height: 40px;
  margin-top: 5px;
  color: white;
  padding: 0.2em;
  text-align: center;
}

.variant-color {
  cursor: pointer;
}

.cart {
  margin-right: 25px;
  float: right;
  border: 1px solid #d8d8d8;
  padding: 5px 20px;
}

button {
  margin-top: 30px;
  margin-left: 0.5em;
  border: none;
  background-color: #1e95ea;
  color: white;
  height: 40px;
  width: 100px;
  font-size: 14px;
}

.cart-buttons {
  display: flex;
  justify-content: space-around;
  width: 30%;
  transition: all 0.2 ease-in-out;
}

.cart-buttons button:hover {
  transform: scale(1.1);
}

.disabledButton {
  background-color: #d8d8d8;
}

.review-form {
  width: 400px;
  padding: 20px;
  margin: 40px;
  border: 1px solid #d8d8d8;
}

legend {
  font-weight: bold;
  padding-bottom: 0.5em;
}

input {
  width: 100%;
  height: 25px;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  height: 60px;
}

form .radio-selection {
  display: flex;
  flex-flow: flex-start;
  align-items: center;
}

form .radio-selection input {
  width: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

form .radio-selection label {
  margin: 0;
  padding-bottom: 1em;
}

.reviews-box {
  display: flex;
  flex-flow: row wrap;
  width: 55vw;
  justify-content: flex-start;
  padding: 0;
}

.review-box {
  display: flex;
  width: 31%;
  flex-flow: column nowrap;
  border: 2px solid#21864d;
  justify-content: center;
  align-items: flex-start;
  padding: 0.5em;
  margin: 0.5em;
}

.review-box .user {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.review-box .user .img-container {
  max-width: 3em;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
}

.review-box .user .img-container img {
  max-width: 100%;
  border: none;
  box-shadow: none;
}

.review-box p {
  padding-bottom: 0.25em;
  margin: 0;
}

.review-box h3 {
  color: #344760;
  font-size: 1.5em;
}

@media (max-width: 600px) {
  button {
    font-size: 0.6em;
  }
}
